@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */
.hide{
  width:0;height:0;
  font-size:0;line-height: 0;
  position:absolute;
  visibility: hidden;
}
a{
  text-decoration:none;
}
article{
  padding:86px 0;
}
article>div,header>div{
  width:1300px;
  margin: 0 auto;
}
div>h3{
  font-size:47px;
  text-align:center;
  margin-bottom:45px;
  color:#333;
}
div p.title{
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  margin-bottom:45px;
  color:#4b4b4b;
}
div p.text{
  font-size:18px;
  font-family:Arial,sans-serif;
  color:#4b4b4b;
}

/* header */
header{
  padding:20px 0;
  background-color:#242424;
  position: relative;
}
header>div{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
header>div>h1>a{
  font:bold 27px/27px Arial,sans-serif;
  color:#fff
}
header>div>nav{}
nav>ul{}
nav>ul>li{
  display:inline-block;
  margin-left:55px;
}
nav>ul>li>a{
  font-size:20px;
  color:#fff;
}
/* header btn */
header>.btn{
  position:absolute;
  width:25px; height:25px;
  text-indent:-9999px;
  background-color:red;
  top:20px;
  right:20px;
  display:none;
}

/* #box01 */
#box01{
  padding:0;
  height:calc( 100vh - 67px);
  background-color:#666;
  position:relative;
  /* overflow:hidden */
}
#box01>h3{
  position:absolute;
  left:50%;
  top:50%;
}
#box01>ul{
  width:400%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
}
#box01>ul>li{
  width:25%;
  height:100%;
  background:url('../images/blue.jpg') no-repeat center top;
  text-indent:-99999px;
}
#box01>ul>li.no01{
  background-image:url('../images/blue.jpg');
}
#box01>ul>li.no02{
  background-image:url('../images/green.jpg');
}
#box01>ul>li.no03{
  background-image:url('../images/pink.jpg');
}
#box01>ul>li.no04{
  background-image:url('../images/purple.jpg');
}

#box01>p.link{
  position:absolute;
}

/* box02 */

#box02 {
  background-color: #e8e8e8;
}
#box02>div {
  width: 1115px;
  margin: 0 auto;
}
#box02 .box{
  position: relative;
  padding-left: 429px;
}
#box02 .box>figure{
  position: absolute;
  left: 0; top: 0;
  width: 429px;
}
#box02 .box>div{}
#box02 .box>div p.text{
  line-height: 30px;
  margin-bottom: 45px;
}
#box02 .box>div p.btn{
  text-align: right;
}
#box02 .box>div p.btn>button{
  width: 196px;
  height: 53px;
  background-color: #949494;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 26px;
}
/* box03 */
#box03{

}
#box03>div{
  width: 1300px;
  margin: 0 auto;
}
#box03 .box{
  display: flex;
  flex-wrap: wrap;
}
#box03 .box>div{
  width: 50%;
}
#box03 .box>div>p.text{
  line-height: 30px;
  width: 493px;
}
#box03 .box>ul{
  width: 50%;
}
#box03 .box>ul>li{
  width: 80px;
  height: 80px;
  border: 2px solid #cbcbcb;
  margin:0 8px 16px;
  float: left;
  text-indent: -99999px;
  background:url('../images/icon/html5.png') no-repeat center;
}
#box03 .box>ul>li:nth-child(2){background-image: url('../images/icon/css3.png');}
#box03 .box>ul>li:nth-child(3){background-image: url('../images/icon/javascript.png');}
#box03 .box>ul>li:nth-child(4){background-image: url('../images/icon/jquery.png');}
#box03 .box>ul>li:nth-child(5){background-image: url('../images/icon/vue.png');}
#box03 .box>ul>li:nth-child(6){background-image: url('../images/icon/react.png');}
#box03 .box>ul>li:nth-child(7){background-image: url('../images/icon/git.png');}
#box03 .box>ul>li:nth-child(8){background-image: url('../images/icon/npm.png');}
#box03 .box>ul>li:nth-child(9){background-image: url('../images/icon/sass.png');}
#box03 .box>ul>li:nth-child(10){background-image: url('../images/icon/typescript.png');}
#box03 .box>ul>li:nth-child(11){background-image: url('../images/icon/vs-code.png');}
#box03 .box>ul>li:nth-child(12){background-image: none;}

/* box04 */
#box04{
  background-color: #c3c3c3;
  text-align: center;
  
}
#box04 h3{
  color: #fff;
}
#box04 div>.title{
  color: #fff;
  text-align: center;
}
#box04 div>.text{
  color: #fff;
  line-height: 30px;
  margin-bottom: 35px;
}
#box04 div>ul{
  margin-bottom: 40px;
  color: #fff;
}
#box04 div>ul>li{
  color: #fff;
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid #fff;

}
#box04 div>ul>li:first-child{
  border-left: none;
}
#box04 div>ul>li>a{
  color: #fff;
}
#gallery{}
#gallery #all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#gallery figure{
  width: calc(33% - 46px);
  margin-bottom: 46px;
  color: #fff;
}
#gallery figure>img{
  margin-bottom: 23px;
}
#gallery .prev{display: none;}
#gallery .next{display: none;}

/* box05 */